@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
#container-style-one,
#container-style-two {
    width: 80%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 1px;
    border-style: solid;
    border-color: #e3e3e3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card{
    position: relative;
    width: 40%;
    height: 15%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    border-radius: 10px;
}
#container-style-one .card:nth-child(1) {
    background-image: linear-gradient(to bottom right, rgba(75, 123, 235, 0.99), rgba(246, 90, 241, 0.516)), url(./public/card1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#container-style-one .card:nth-child(2) {
    background-image: linear-gradient(to bottom right, rgba(48, 114, 244, 0.99), rgba(96, 244, 153, 0.451)), url(./public/card2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#container-style-two .card:nth-child(1) {
    padding: 4%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#container-style-two .card:nth-child(1) span {
    color: gold;
}
#container-style-two .card:nth-child(2) {
    padding: 4%;
    background: linear-gradient(to bottom right, rgba(75, 123, 235, 0.99), rgba(246, 90, 241, 0.3));
    color: #fff;
}
.card:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.card-title{
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1;
    margin: 1% 0;
    z-index: 2;
}
.card-content{
    font-size: 1rem;
    color: #fff;
    margin: 1% 0;
    z-index: 2;
}
.card-button {
    width: 36%;
    aspect-ratio: 3 / 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 5px;
    margin: 1% 0;
    z-index: 2;
}
.card-button:hover{
    background-color: rgba(0, 0, 0, 0.24);
}
.card-icon {
    width: 80%;
    border-radius: 50%;
}
.card-header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.card-stars {
    display: inline-flex;
}
.card-star {
    font-size: 0.8rem;
    margin-right: 5px;
    position: relative;
}
a {
    text-decoration: none;
}
a:link {
    color: skyblue;
}
a:visited {
    color: skyblue;
}
@media (max-width: 768px) {
    #container-style-one,
    #container-style-two {
        flex-direction: column;
    }
    .card {
        width: 90%;
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    #container-style-one,
    #container-style-two {
        flex-wrap: wrap;
        width: 90%;
        padding: 15px;
    }
    .card {
        width: 48%;
        margin: 10px 1%;
    }
}
@media (min-width: 1460px) {
    #container-style-one,
    #container-style-two {
        width: 1460px;
        margin: 0 auto;
    }
}
