@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
}
.card{
    position: relative;
    width: 40%;
    height: 15%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    border-radius: 10px;
}
.card:nth-child(1) {
    background-image: linear-gradient(to bottom right, rgba(75, 123, 235, 0.99), rgba(246, 90, 241, 0.516)), url(./card1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card:nth-child(2) {
    background-image: linear-gradient(to bottom right, rgba(48, 114, 244, 0.99), rgba(96, 244, 153, 0.451)), url(./card2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-title{
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1;
    margin: 1% 0;
    z-index: 2;
}
.card-content{
    font-size: 1rem;
    color: #fff;
    margin: 1% 0;
    z-index: 2;
}
.card-button {
    width: 36%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 5px;
    margin: 1% 0;
    z-index: 2;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}