@import url("http://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #4181ee;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    min-height: 250px;
    background-color: aquamarine;
    box-sizing: border-box;
    color: white;
    padding: 30px;
    border-radius: 3px;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card_image img {
    width: 100%;
}

.card:nth-child(2) {
    background-color: #4181ee;
}

.card:last-child {
    background-color: #673ab7;
}

.card_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_price {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
}
